*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   min-height: 100vh;
   background: #0c192c;
}
.container 
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow: auto;
}

.bubbles
{
    position: relative;
    display: flex;
    z-index: 0;
}
.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc, 0 0 50px #4fc3dc, 0 0 100px  #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #ff2f75;
    box-shadow: 0 0 0 10px #ff2f75, 0 0 50px #ff2f75, 0 0 100px  #ff2f75;
}
@keyframes animate 
{
    0%{
        transform: translateY(100vh) scale(0);
    }    
    100%{
        transform: translateY(-10vh) scale(1);
    }
}


.big-text a
{
    font-family: 'Secular One', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
    font-size: 150px;
    transition: font-size 0.2s;
    user-select: none;
    color: aliceblue;
}

.big-text a:hover
{
    text-decoration: none;
    font-size: 170px;
}

.privacy a
{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.text
{
    font-family: 'Tajawal', sans-serif;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2800px; 
    background-color: lightblue;
    margin: auto;
    position: relative;
    align-items: center;
    top: 70px;
    font-size: 20px;
    padding: 100px;
    text-align: center; 
    color: rgb(60, 60, 60);
}
.text h2
{
    font-family: 'Secular One', sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #0c192c;
}
.text h1
{
    font-family: 'Secular One', sans-serif;
    margin-bottom: 10px;
    color: black;
}
.text p
{
    margin-top: 0px;
}

  